<h1>NOT A SALE --> INQUIRY ABOUT A PROJECT</h1>
<h3>Project Inquiry</h3>

<h4>From:<%= @postquestion.name %></h4>
<h4>Email:<%= @postquestion.email %></h4>
<h3>Asking About: <%= @project.title %></h3>
<p>Message: <%= @postquestion.message %></p>


<p>Be Sure To Get Back To them SAND MAN!</p>
