<h3>Purchase Inquiry</h3>

<h4>From:<%= @salequestion.name %></h4>
<h4>Email:<%= @salequestion.email %></h4>
<h3>Asking About: <%= @sale.title %></h3>
<p>Message: <%= @salequestion.message %></p>


<p>Be Sure To Get Back To them SAND MAN!</p>
