<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Some Description Of Sandy</h2>
                <hr class="light">
                <p class="text-faded">Say Something about what you do and why you do it, this is entirely up to you and you can decide how you want to go about this im writing a lot so you can see what it would look like</p>
                <a href="/" class="btn btn-default btn-xl">Meet Sandy</a>
            </div>
        </div>
    </div>
</section>
