<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Methodology of Huasnawood</h2>
                <hr class="light">
                <p class="text-faded">My love for creating comes from a self satisfaction of struggling to make things meet my standards. The journey starts with a visual idea in my head and I rarely draw something out unless I need to explain it to someone. The first process is measuring and cutting the metal. Followed by welding the structure together. Then I like to grind down all of my welds to make them flush and smooth. The next step is gathering the wood. This comes from my friend's lumber yard in SLO,CA which is all reclaimed wood.  I also harvest dead or fallen trees from ranches and plane the wood myself. I prefer finding grain and color to match the welded structure to let the furniture express itself. I like clear coat finish on the metal or to paint vibrant bright colors. For the wood finish I only use natural oils and waxes</p>
                <%= link_to 'Meet Sandy', page_path('about'), class:"btn button-black btn-xl" %>
            </div>
        </div>
    </div>
</section>
