<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">C<span data-toggle="modal" data-target="#modalin">o</span>ntact</h2>
                <hr class="primary">
                <p>You Gonna Fuckin Call Me Or What? I Do This Shit ALL DAY, YOU THINK THIS iS A FUCKING GAME?</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>281-330-8004</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">EnterSandMan@gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="modal" id="modalin">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-body">
              <%= render "users/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
