<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><%= link_to "Contact", new_contact_path %></h2><br>
                <p>Feel free to reach out to me!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>(805) <span data-toggle="modal" data-target="#modalin">4</span>58-1891</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">huasnawood@gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="modal" id="modalin">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-body">
              <%= render "users/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
