<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sandy Matthews</h1>
            <hr>
            <p>Integrity Craftsmanship Innovation</p>
            <a href="#about" class="btn button_glow btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
