<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sandy Matthews</h1>
            <hr>
            <p>Fuckin Wood Worker Guy, A GOD DAMN MASTERMIND! YOU WANNA FUCK ON ME?</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
