<section class="no-padding" id="portfolio">
  <div class="container-fluid">
      <div class="row no-gutter">
        <% @projects.each do |project| %>
          <div class="col-lg-4 col-sm-6 hovercraft">
            <%= link_to project_path(project) do %>
              <%= image_tag project.pictures.first.pic.url(:indexsize), class: "img-responsive", alt: "" %>
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                  </div>
              </div>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
</section>
