<%= render "layouts/transparent" %>
<div class="about_banner">
  <div class="col-md-12 centered">
    <h1>About</h1>
  </div>
</div>
<br>
<div class="centered">
  <%= image_tag ("sandmanentering.jpg"), class:"aboutImage" %>
</div>

<div class="col-md-12">
  <div class="centered">
    <h2>Sandy Matthews</h2><hr>
    <p>
      This is where your bio will go, however long you want it let me know sand man man sand
    </p>
  </div>
</div>
<br><br><br><br><br>
