<%= render "layouts/transparent" %>
<div class="about_banner">
  <div class="col-md-12 centered">
    <h1>About</h1>
  </div>
</div>
<br>
<div class="centered">
  <%= image_tag ("sandmanentering.jpg"), class:"aboutImage" %>
</div>

<div class="col-md-12">
  <div class="centered aboutPage">
    <h2>Sandy Matthews</h2><hr>
    <p>
      My name is Sandy Matthews, I'm a fourth generation rancher from San Luis Obispo county. I grew up on a cattle ranch in Huasna Valley. Its a small community of family owned ranches in the Central Coast of California. I grew up cutting wood for my family because our only source of heating is wood burning stoves. This is when I first became infatuated by the way nature produces an array of different species of trees and the textures that are held inside. I'm a vineyard manager in the wine region of Paso Robles by day. By night I conjure up ideas for building furniture. Its an artistic outlet in a life of intensive farming. I want my furniture to outlast my lifetime. I'm most concerned with functionality and visual aesthetics. To have someone appreciate a product that I make is all that I strive for.
    </p>
  </div>
</div>
<br><br><br><br><br>
