
.project_form {
  margin-top: 15%;
}

.hovercraft:hover{
  opacity:0.7;

}

.project_banner{
  height:40rem;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url('woodtwerk.jpg') no-repeat center ;
  background-size: cover;
  color: white;
  margin-right: 20%;
  h1{
    margin-top: 13%;
  }

}

.spacing{
  height: 3rem;
  background-color:#28726E;
}



.nav_margin{
  margin-top: 60px;

}

.centered{
  text-align: center;
}

.big_image_border{
  border: solid #28726E 2px;
  background-color:#28726E;
}

.project_description{
  background-color: #28726E;
  height:454px; h3, p{
    color:white;
  }
}
