<div style="float:right;">

<%= bootstrap_form_for [@sale, @image] do |f| %>
  <%= f.file_field :pic, label:"Upload A Photo", id:"productimage"%>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
