<div class="container" style:"margin-top: 20%;">
  <% if notice %>
  <p id ="flash" class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p id ="flash" class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash').fadeOut();
    }, 2000);
  })
</script>
